.container{

    width: 100%;
    background-color: gray; 
    
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#searchButton {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: inline-block;
    
}

.dailyWeather {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}


